
body{
  background-image: image(dev-background.pdf);
  background-repeat: no-repeat;
}

h2{
  font-size: 3em;
  font: grey;
  text-align: center;
}

ul{
  display: flex;
}

li{
  height: 300px;
  width: 300px;
}
